// META
// ====
	@import 'compass/css3';
	@import 'helpers';
	@import 'normalize';
	@import 'range';

	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
	$primary-font: "Whitney SSm A", "Whitney SSm B", "Open Sans", sans-serif;


// RANGES

	// Default ranges (based on Bootstrap).
	$theme-ranges: (
		sm: (max:  480),
		md: (max:  768),
		lg: (min: 1500),
	);
	$ranges: map-merge($ranges, $theme-ranges);

// COLORS

	$black: #000000;
	$white: #ffffff;
	$blue: #29aecc;
	$light-blue: #62c8df;
	$purple: #5a46dd;
	$turquoise: #25cfb0;

// GLOBAL
// ======

	html {
		font-size: 62.5%; // 10px
		overflow-x: hidden;
	}

	body {
		font-family: $primary-font;
		color: $black;
		@include font-layout(18,28);
	}

	* {
		@include box-sizing(border-box);
	}

	// Include this anywhere arbitrary HTML/WYSIWYG content may be displayed.
	@mixin content {
		@include no-first-last-margins;
		@include clear-after;
	}

	.clear, .clearfix:after, .cf:after, .comment-respond:after {
		clear: both;
	}

	@mixin container-block {
		max-width: 1500px;
		width: 90%;
		padding: 12px 20px 0;
		@include margin-x(auto);
		@include clear-after;

		@include range(md) {
			width: 100%;
		}

		@include range(sm) {
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 800;
		text-transform: uppercase;

		&.light {
			font-weight: 100;
			text-transform: none;
		}
	}

	h1 {
		@include font-layout(76, 82);
	}

	h2 {
		@include font-layout(42, 48);
	}

	h3 {
		@include font-layout(30, 34);
	}

	a {
		@include link-color($blue, $light-blue);
		font-weight: bold;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}


// CONTAINERS
// ============

	.container {
		@include container-block;
	}

	.column-container {
		@include display-flex;
		@include justify-content(space-around);

		@include range(sm) {
			display: block;
		}

		.content, .center-content, .right-content {
			width: 100%;
		}
	}

	.content {
		max-width: 960px;
		margin: auto;
	}

	.center-content {
		text-align: center;
	}

	.right-content {
		text-align: right;
	}

	.full-width-container {
		width: 100%;
		width: 100vw;
	}