// META
// ====
	@import 'compass/css3';
	@import 'helpers';
	@import 'normalize';
	@import 'range';

	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
	$primary-font: "Whitney SSm A", "Whitney SSm B", "Open Sans", sans-serif;


// RANGES

	// Default ranges (based on Bootstrap).
	$theme-ranges: (
		sm: (max:  480),
		md: (max:  768),
		lg: (min: 1500),
	);
	$ranges: map-merge($ranges, $theme-ranges);

// COLORS

	$black: #000000;
	$white: #ffffff;
	$blue: #29aecc;
	$light-blue: #62c8df;
	$purple: #5a46dd;
	$turquoise: #25cfb0;
	$light-gray: #f7f7f7;

// GLOBAL
// ======

	html {
		font-size: 62.5%; // 10px
		overflow-x: hidden;
	}

	body {
		font-family: $primary-font;
		color: $black;
		@include font-layout(18,28);
	}

	* {
		@include box-sizing(border-box);
	}

	// Include this anywhere arbitrary HTML/WYSIWYG content may be displayed.
	@mixin content {
		@include no-first-last-margins;
		@include clear-after;
	}

	.clear, .clearfix:after, .cf:after, .comment-respond:after {
		clear: both;
	}

	@mixin container-block {
		max-width: 1500px;
		width: 90%;
		padding: 12px 20px 0;
		@include margin-x(auto);
		@include clear-after;

		@include range(md) {
			width: 100%;
		}

		@include range(sm) {
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 800;
		text-transform: uppercase;

		&.light {
			font-weight: 100;
			text-transform: none;
		}
	}

	h1 {
		@include font-layout(76, 82);
	}

	h2 {
		@include font-layout(42, 48);
	}

	h3 {
		@include font-layout(30, 34);
	}

	.image-headline {
		display: inline-block;
		padding: 18px 60px;
		border-bottom: 2px solid $black;
	}

	p {
		margin: .55em 0;
	}

	a {
		@include link-color($blue, $light-blue);
		font-weight: bold;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}


// CONTAINERS
// ============

	.container {
		@include container-block;
	}

	.column-container {
		@include display-flex;
		@include justify-content(space-around);

		@include range(sm) {
			display: block;
		}

		.content, .center-content, .right-content {
			width: 100%;
		}
	}

	.content {
		max-width: 960px;
		margin: auto;
	}

	.center-content {
		text-align: center;
	}

	.right-content {
		text-align: right;
	}

	.full-width-container {
		width: 100%;
		width: 100vw;
	}


// NAVIGATION
// ===========

	#site-navigation {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 99;

		.nav-container {
			padding:20px 50px;
			position: relative;
		}

		.site-branding {
			svg {
				width: 180px;
				height: 25px;
			}
		}

		.site-menu {
			position: absolute;
			right: 45px;
			top: 25px;

			.sidebar-nav {
				position: absolute;
				width: 0;
				height: 100vh;
				top: -25px;
				right: -45px;
				overflow: hidden;
			}
		}
	}


// BLOCKS
// =======

	.blocks-container {
		.page-block {
			margin: 80px 0;
		}
	}

	#page-title-block {
		margin: 100px 0;
		.content {
			h1 {
				margin-top: .2em;
				margin-bottom: .5em;
			}
		}
	}

	#love-what-you-do-block {
		background-color: $light-gray;
		padding-bottom: 80px;

		.container {
			padding-top: 40px;
		}

		.images-marquee {
			position: relative;

			.marquee-slide {
				position: relative;
				display: inline-block;
				padding-right: 50px;

				.headshot {
					position: absolute;
					top: 20%;
					right: 0;
				}

				.caption {
					text-align: center;

					strong { text-transform: uppercase; font-weight: 800; }
				}
			}
		}
	}

	#we-do-dont-block {
		margin-bottom: 40px;

		.container {
			padding-bottom: 80px;
			border-bottom: 1px solid $light-gray;

			.content {
				h2 {
					margin: .6em 0 0;
				}
			}
		}
	}

	#noteables-block {
		margin-top: 40px;
		
		.container {
			.column-container {
				@include align-items(center);
			}
		}
	}

	#instagram-block {
		position: relative;
		padding: 33.333333% 0 0 0;
		overflow: hidden;

		#dt-instagram-feed {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			&:after {
				content: "";
				display: table;
				clear: both;
			}
			div {
				width: 16.6667%;
				padding: 16.6667% 0 0 0;
				display: block;
				float: left;
				position: relative;

				img {
					max-width: 100%;
					max-height: 100%;
					margin: auto;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					//width: 100%;
					//height: 100%;
				}
			}
		}
	}